* {
  margin: 0;
  padding: 0;
}

body {
  padding: 0 0;
  margin: 0 auto;
  width: 80%;
  background: #EFEEEC;
  font-family: calibri;
}

header img {
  width: 22%;
  height: auto;
  margin: 20px 0;
}

nav {
  background-color: rgba(0,0,0,0.65);
  background-size: cover;
  height: auto;
  /* margin: 20px 0; */
  border-radius: 5px;
}
/* float: left; */

nav ul {
  /* margin: 0; */
  /* padding: 0; */
  /* float: left; */
  list-style: none;
  overflow: auto;
  margin-left: 40px;
}

nav ul li {
  float: left;
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.rem;
}

nav ul li:hover {
  background-color: darkorange;
  border-radius: 5px;
}
/*
.active {
  background-color: darkorange;
  border-radius: 5px;
} */

#container {
  display: flex;
  justify-content: space-between;
}

main {
  width: 69%;
}

aside {
  width: 30%;
  order: 1;
}

main .main-ar, aside .sub-ar {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 20px 0;
  padding: 30px 20px 30px 20px;
}

main .main-ar > header{
  /* background: rgba(0,0,0,0.75); */
  color: #f00;
  /* padding: 10px 20px; */
}

main .main-ar > section p, aside .sub-ar > section p{
  /* margin : 40px 20px; */
  font-size: 1.2rem;
  padding-top: 20px;
  line-height: 25px;
  /* line-height: 1.2rem; */
}

main .main-ar > section p.desc {
  color: #777777;
  font-style: italic;
  font-size: 1.1rem;
}

aside .sub-ar > header {
  /* background: rgba(0,0,0,0.75); */
  color: #000;
  /* padding: 10px 20px; */
}

footer {
  background: rgba(0,0,0,0.65);
  padding: 20px 20px;
  color: #fff;
  border-radius: 5px;
}

footer p > a.marlabs {
  color: #f00;
  text-decoration: none;
}

@media screen and (max-width: 600px) {

  body {
    width: 95%;
  }

  header img {
    width: 100%;
    height: auto;
  }

  nav ul {
      margin-left: 00px;
  }

  nav ul li{
    float: none;
    text-align: center;
  }

  #container {
    display: block;
    justify-content:flex-start;
  }

  main, aside {
    width: 100%;
  }
}
